<h1 style="background-color: #24043d; color: white; padding: 25px;">
    Tipos de datos
</h1>

<h2 style="background-color: #24043d; color: white; padding: 12px;">
    1. String
</h2>

### 1.1. La string es un tipo de dato secuencial que se utiliza para crear texto en Python.

In [ ]:
# es secuencial por que está formado por una secuencia de caracteres
caracter = "a" "c" "1" "." "@"

### 1.2. Creación y visualización de strings

In [ ]:
simples = 'Una string con comillas simples'
print(simples)

##### cuándo conviene usar comillas simples

In [49]:
dobles = "Una string con comillas dobles"
print(dobles)

Una string con comillas dobles

In [ ]:
# cuándo conviene usar comillas dobles

### 1.3. Errores al utilizar las comillas

In [60]:
sin_comillas = Una string tiene que llevar comillas
print(sin_comillas)

SyntaxError: invalid syntax (424514733.py, line 1)

In [61]:
una_comilla = Una string con comillas de cierre"

SyntaxError: unterminated string literal (detected at line 1) (1387312763.py, line 1)

### 1.4. Strings de más de una línea

##### comillas triples

In [71]:
triples = """Una string tan larga que no entra en una sola línea: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."""

In [72]:
print(triples)

Una string tan larga que no entra en una sola línea: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

##### con salto de línea `(\n)`

In [41]:
salto_de_linea = "Esta\nstring\nocupa\nvarias\nlíneas."
print(salto_de_linea)

Esta
string
ocupa
varias
líneas.

##### con barra invertida `\`

In [7]:
# Podemos usar una barra invertida al final de cada línea.
con_barra_inv = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore\
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis\
aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat\
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
print(con_barra_inv)

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et doloremagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duisaute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatatnon proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<h2 style="background-color: #24043d; color: white; padding: 12px;">
   2. Características del tipo string
</h2>

### 2.1. Las strings son inmutables.

Esto quiere decir que: una vez creada, la string no pude modificarse. La única manera de arreglar una string que no queremos es creando una nueva.
Quizás le demos el mismo nombre a la variable; es decir, se mantiene el nombre de la variable pero la nueva string ocupa otro espacio
en la memoria.

In [110]:
s = "Holla"

In [111]:
print(id(s))  # pido ver la dirección de memoria donde se aloja s

2200502256048

In [39]:
s = "Hola"

In [40]:
print(id(s)) # pido ver la dirección de memoria donde se aloja s

2200484830832

In [41]:
s = s + " a todos."

In [42]:
print(id(s)) # # pido ver la dirección de memoria donde se aloja s

2200484697712

In [45]:
s = s.upper()

In [47]:
print(s)

HOLA A TODOS.

In [46]:
print(id(s))

2200494062448

### 2.2. Las strings son case sensitive
"Case sensitive" sinifica que se diferencia entre mayúsculas y minúsculas.

In [6]:
abecedarias1 = "abc" == "ABC"
abecedarias2 = "abc" == "Abc"
print(abecedarias1)
print(abecedarias2)

False
False

In [85]:
saludo_uno = "Hola a todos"
saludo_dos = "hola a todos"
saludo_uno == saludo_dos

False

### 2.3. Las strings se distinguen según los espacios en blanco

In [4]:
hoy1 = "Hoy es un día de sol"
hoy2 = "Hoy es un día de sol"
print(hoy1 == hoy2)

False

<h2 style="background-color: #24043d; color: white; padding: 12px;">
   3. Strings y operadores aritméticos
</h2>

### 3.1. En Python podemos usar operadores aritméticos para operar sobre las cadenas de texto.

##### Podemos utilizar el operador "+" para concatenar

In [77]:
sujeto = "El gato "
predicado = "juega con la cuerda."

In [78]:
oracion = sujeto + predicado
print(oracion)

El gato juega con la cuerda.

##### También, podemos utilizar el operador de multiplicación "*" para repetir una cadena

In [80]:
saludo_repetido = "hola! " * 10
print(saludo_repetido)

hola! hola! hola! hola! hola! hola! hola! hola! hola! hola!

##### Además, podemos utilizar operadores de comparación

In [81]:
abc = "abc"
xyz = "xyz"
print(abc < xyz)

True

In [82]:
ABC = "ABC"
print(abc < ABC)

False

In [83]:
# Comparar si dos strings son iguales con el operador "=="
abc == xyz

False

<h2 style="background-color: #24043d; color: white; padding: 12px;">
    4. Tipo de dato int (numeros enteros)
</h2>

En este curso vamos a utilizar dos tipos de datos numéricos de Python. El primero, el tipo de dato int, se usa en Python para describir a los números enteros. Los enteros son los números que utilizamos cotidianamente para contar cosas completas, es decir cosas enteras, que no sean una fración de algo. Ejemplo: 1 gato, 2 zapatos, 4 ruedas, etc.

### 4.1. Operaciones básicas que podemos realizar

In [95]:
# suma
x = 5
y = 2
res = x + y
print(res)

7

In [96]:
# resta
a = res-3
print(a)

4

In [100]:
# multiplicación
b = a * 10
print(b)

40

##### dos tipos de división

In [101]:
# división
c = b/4
print(c)

10.0

In [102]:
# division entera
d = b//4
print(d)

10

### 4.2 Operaciones de comparación

##### comparación de igualdad.

In [103]:
# Si dice True la comparación es verdadera; si dice "False", es falsa.
c == d

True

##### comparación en magnitud.

In [114]:
# Si dice True la comparación es verdadera; si dice "False", es falsa.
print(8 > 5)
print(8 < 5)

True
False

<h2 style="background-color: #24043d; color: white; padding: 12px;">
    5. Tipo de dato float (números reales)
</h2>

El segundo tipo de dato que vamos a utilizar es el float. Este tipo sirve para representar a los números reales. Son números con parte decimal que sirven para contar cosas de una manera continua.  
Ejemplo: Altura, Temperatura, Tiempo. Si bien podemos decir que alguien mide 170 centímetros, si miramos con una lupa vamos a ver que podemos medir   fracciones de centímetros, y cuanto mayor el aumento de nuestra lupa, más chica será la fracción que mediremos. En consecuencia, más exacta será   nuestra medición. La necesidad de mediciones exactas en la vida real es lo que hace tan útil a los números reales. Como dijimos, vamos a usar el tipo  float para representarlos en Python.

##### Operaciones básicas

In [9]:
e = 5.3 
f = 3.2

In [62]:
# suma 
print(e + f)

8.5

In [11]:
# resta
print(e-f)

2.0999999999999996

In [12]:
# multiplicación
print(e*f)

16.96

##### guiones bajos en números grandes

In [15]:
int_grande = 123456789987654321

In [16]:
int_grande_guionado = 123_456_789_987_654_321

In [17]:
int_grande == int_grande_guionado

True

In [20]:
float_grande = 123456789987654321.255

In [21]:
float_guionado = 123_456_789_987_654_321.255

In [22]:
float_grande == float_guionado

True

<h4 style="background-color: #E7E118; color: black; padding: 12px;">
    Importante:
</h4>

##### Los números flotantes suelen perder precisión debido a la manera en la que Python los almacena internamente. Esta pérdida de precisión puede llevar a errores de redondeo y comparaciones inexactas. Python ofrece una librería llamada `decimal` que ofrece mayor precisión en caso de necesitarla.

<h4 style="background-color: green; color: white; padding: 12px;">
    Buenas Prácticas:
</h4>

##### Utilizar siempre el tipo de dato adecuado para eficientizar recursos y mantener un código limpio. Si no necesitas un número decimal, usa un entero.

<h2 style="background-color: #24043d; color: white; padding: 12px;">
    6. Todo junto
</h2>

In [65]:
# María vive en Caracas, tiene 25 años, mide un metro sesenta; tiene 1 hijo
# Carlos vive en Barranquilla, tiene 30 años, mide un metro ochenta y siete;  no tiene hijos
# Julian vive en Murcia, tiene 53 años y tiene 4 hijos; mide un metro setenta y cinco.

In [25]:
nombre = "María"
edad = 25
altura = 1.60
hijos = 1

In [26]:
datos_maria = "María tiene" + 25 + "años, mide " + 1.60 + "y tiene " + 1  +"hijo"

TypeError: can only concatenate str (not "int") to str

### 6.1 Formatear cadenas

#### string.format()

In [27]:
datos_maria =  "Nombre: {}, Edad: {}, Altura: {:.2f}m, Número de hijos: {}".format(nombre, edad, altura, hijos)
print(datos_maria)

Nombre: María, Edad: 25, Altura: 1.60m, Número de hijos: 1

#### printf-style formatting

In [28]:
datos2_maria = "Nombre: %s, Edad: %d, Altura: %.2fm, Número de hijos: %d" % (nombre, edad, altura, hijos)
print(datos2_maria)

Nombre: María, Edad: 25, Altura: 1.60m, Número de hijos: 1

#### f-string

In [29]:
datos3_maria = f"Nombre: {nombre}, Edad: {edad}, Altura: {altura}, Número de hijos: {hijos}"
print(datos3_maria)

Nombre: María, Edad: 25, Altura: 1.6, Número de hijos: 1

#### raw string (cadena cruda)

In [57]:
raw_string = r"Otra forma de escribir una string"
print(raw_string)

Otra forma de escribir una string

In [4]:
# raw string
directorio = r"C:\Users\Usuario\Documentos"
print(directorio)

C:\Users\Usuario\Documentos

In [36]:
# sin especificar raw string
directorio = "C:\Users\Usuario\Documentos"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3332445128.py, line 1)

In [3]:
cad = "Una\ncadena\ncon\nsigue\ttabulacion"
cad

'Una\\ncadena\\ncon\\nsigue\\ttabulacion'

In [46]:
cad = "Una\ncadena\nque\ntiene\nuna\ttabulacion"
print(cad)

Una
cadena
que
tiene
una	tabulacion

In [47]:
salto_de_linea = r"Esta\nstring\nocupa\nvarias\nlíneas."
print(salto_de_linea)

Esta\nstring\nocupa\nvarias\nlíneas.

### 6.2 función type

In [58]:
# si tienes dudas sobre el tipo de dato que estás utilizando
print(type(cad))

<class 'str'>

In [59]:
print(type(edad))

<class 'int'>

<h4 style="background-color: #E7E118; color: black; padding: 12px;">
    Importante!
</h4>

##### Python es un lenguaje fuertemente tipado. Esto quiere decir que es sumamente estricto a la hora de organizar y operar con los tipos de dato. Por esta razón, no se pueden mezclar los tipos de datos en una operación excepto que se pongan en un tipo de dato en común. El formateo a string de los datos numéricos es una manera de lograrlo.

##### Si se preguntan como es posible entonces que un tipo de dato int se sume a un tipo de dato float. La respuesta es que Python realiza una conversión interna de los enteros a float y luego opera.

<h4 style="background-color: green; color: white; padding: 12px;">
    Buenas Prácticas:
</h4>

##### Al formatear una cadena utilizar el tipo de formateo f-string, es el más sencillo y el más fácil de leer